@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #fdeef5;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}

html.dark body,
.dark body {
  background: #171114;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}

/* grandezas amigables para touch en tablet */
button {
  touch-action: manipulation;
}
