@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #f3f5f2;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}

/* grandezas amigables para touch en tablet */
button {
  touch-action: manipulation;
}
